
.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #123f6d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  opacity: 0.99;
}
.dropdown-menu{
  background-color: #aeb2b6 !important;
}

.libraryname {
  color: #fff;
  font-size: 16px;
  margin: 0px 4px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.img-fluid {
  transition: transform 0.3s ease;
}

.img-fluid:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navbar-right {
  margin-left: auto;
}

.login-wrapper {
  position: relative;
}

.login-button {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.crossbutton{
   background-color: #10253a !important;
  color: #fff; 
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px !important;
  padding-top: 1px !important;
}


.crossbutton:hover{
   opacity: 0.;
}

@media (max-width:576px){
  .libraryname{
    font-size: 14px;
  }
}

@media (max-width:425px){
  .libraryname{
    font-size: 10px;
  }
}